<header class="main-header">
  <div class="topnav-container">
    <div class="logo" id="logo">
      <img src="../../../assets/logo.png" alt="logo image" />
    </div>
    <div id="topnav" class="main-menu">
      <ul>
        <li>
          <a [routerLink]="['/landing']" routerLinkActive="router-link-active"
            >HOME</a
          >
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="router-link-active"
            >ABOUT US</a
          >
        </li>
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
            >CONTACT US</a
          >
        </li>
      </ul>
    </div>
  </div>
  <nav class="mobile-menu">
    <div class="mobile">
      <a href="index.html"><span class="glyphicon glyphicon-home"></span></a>
    </div>

    <div class="mobile">
      <a href="about us.html"><span class="glyphicon glyphicon-user"></span></a>
    </div>
    <div class="mobile">
      <a href="contact.html"
        ><span class="glyphicon glyphicon-earphone"></span
      ></a>
    </div>
  </nav>
  <div class="banner">
    <div class="banner-content" id="banner-content">
      <h1>
        we transform your ideas<br />
        into real mobile apps
      </h1>
    </div>
  </div>
</header>
<div class="page">
  <div class="content">
    <p>
      The team here at MobiTech is responsive, professional, accommodating, and
      feels immense pleasure and grateful in helping enterprises to grow their
      business. The tech knowledge and recommendations strengthen our client’s
      version of the app idea. With hundreds of successful projects delivered,
      we have analyzed what works best and what can be eliminated to make the
      app successful. We being the top mobile app development company with our
      tech experts ensures to deliver the best in terms of app design and
      development services. The blend of expertise and offering the best service
      bring us a lot of positive feedbacks from our clients.
    </p>
  </div>
  <div class="content">
    <div id="post" class="innovation">
      <h2>innovation</h2>
      <img src="../../../assets/KWENA.jpg" alt="innovation" />
    </div>
    <div id="post" class="discover">
      <h1>discover</h1>
      <p>
        Our approach to innovation begins with in-depth stakeholder interviews
        in order to understand product expectations and outline goals, timelines
        and constraints. Companies want to deliver new digital products in
        record time, but innovating under ambitious deadlines has to be done
        with care to avoid waste. Our customer experience and design experts
        will help you understand market opportunities, uncover customer
        motivations, and validate your product direction.
      </p>
      <div class="discover-image">
        <img src="../../../assets/unnamed.jpg" alt="unnamed" />
      </div>
    </div>
  </div>
</div>

<div class="serv-container">
  <div class="coding-picture">
    <img class="picture" src="../../../assets/codin.png" alt="coding" />
  </div>
  <div class="serv-icons-images">
    <div class="icon-image">
      <img src="../../../assets/scalable-1x.png" alt="scalable" />
    </div>
    <div class="icon-image">
      <img src="../../../assets/easy-to-use-1x.png" alt="easy to use" />
    </div>
    <div class="icon-image">
      <img src="../../../assets/secure-1x.png" alt="secure" />
    </div>
  </div>

  <div class="serv-content">
    <h1>We ensure that every app we build is…</h1>
    <div class="serv-content-details">
      <h3>scalable</h3>
      <p>
        The scrappy startup of today is the breakout business behemoth of
        tomorrow, meaning you always need to be prepared for an influx of new
        users. We design all our apps to handle increased traffic with ease.
      </p>
    </div>
    <div class="serv-content-details">
      <h3>easy to use</h3>
      <p>
        Our front-end developers work hand-in-hand with our app designers to
        build a user interface and experience (UI/UX) that is straightforward
        and engaging. We run plenty of usability tests before deployment to
        optimize customer satisfaction.
      </p>
    </div>
    <div class="serv-content-details">
      <h3>secure</h3>
      <p>
        If your users can't trust your app to protect their data, what good is
        it? We implement robust security protocols and ensure compliance with
        industry-specific regulations and best practices from day one of
        development.
      </p>
    </div>
  </div>
</div>
<div class="service-container">
  <div class="service-container-details">
    <h2>custom mobile development</h2>
    <p>
      Our mobile application development team builds secure, scalable,
      feature-rich, and high-performing custom mobile apps for global
      businesses. We excel in
    </p>
    <ul>
      <li>Custom web to mobile & cloud integrations</li>
      <li>Mobile app migrations</li>
    </ul>
  </div>
  <div class="serv-content-details-picture">
    <img src="../../../assets/custom-develop.PNG" alt="custom develop" />
  </div>
</div>
<div class="service-container2">
  <div class="service-container-picture2">
    <img src="../../../assets/teamwork.PNG" alt="team work" />
  </div>
  <div class="service-container-details2">
    <h2>dedicated mobile app development team</h2>
    <p>
      Upscale your mobile app development capabilities with our experienced,
      skilled, & reliable dedicated mobile app development teams. Our dedicated
      team build apps like:
    </p>
    <ul>
      <li>business apps</li>
      <li>Workflow and asset management apps</li>
    </ul>
  </div>
</div>
<div class="middle-page">
  <h1>our mobile app development on MobiTech comes with:</h1>
  <div class="sub-middle-page">
    <div class="services">
      <strong><h2>agile software development</h2></strong>

      <p>ensuring lean and rapid deployment of your customized solutions</p>
      <img src="../../../assets/agile2.jpg" alt="agile" />
    </div>
    <div class="services">
      <h2>more focus on Ul design</h2>

      <p>simple, intuitive apps with outstanding <br />user experience</p>
      <img src="../../../assets/nar2.jpg" alt="user" />
    </div>
    <div class="services">
      <h2>user-centered process</h2>

      <p>
        MobiTech takes into consideration your target market’s needs and
        expectations
      </p>
      <img
        src="../../../assets/usercentered.jpg"
        alt="user centered"
        class="user-centered"
      />
    </div>
  </div>
</div>
