<header class="main-header-about-us">
  <div class="topnav-container">
    <div class="logo" id="logo">
      <img src="../../../assets/logo.png" alt="logo image" />
    </div>

    <div id="topnav" class="main-menu">
      <ul>
        <li>
          <a [routerLink]="['/landing']" routerLinkActive="router-link-active"
            >HOME</a
          >
        </li>
        <li>
          <a [routerLink]="['/about']" routerLinkActive="router-link-active"
            >ABOUT US</a
          >
        </li>
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
            >CONTACT US</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="banner">
    <div class="banner-content">
      <h1>
        we transform your ideas<br />
        into real mobile apps
      </h1>
    </div>
  </div>
</header>
<div class="about-body">
  <div class="team-heading">
    <h1>our team</h1>
  </div>
  <h2 class="about-us-header">SOFTWARE DEVELOPERS</h2>
  <br />
  <span class="scrolling-text">
    <strong>
      <MARQUEE>SOFTWARE DEVELOPERS</MARQUEE>
    </strong>
  </span>
  <hr />
  <br />
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="../../../assets/img.jpg"
          alt="kenneth"
          width="40%"
          height="125"
        />
        <div class="container" id="card-container">
          <h3>KENNETH CHUENYANA</h3>
          <h4>Developer</h4>
          <p>kenneth@mobitech.co.za</p>
          <p>
            <a href="https://twitter.com/intent/tweet" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://za.linkedin.com/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a href="http://facebook.com/intent/facebook" target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="../../../assets/img 4.jpg"
          alt="bruce"
          width="40%"
          height="125"
        />
        <div class="container" id="card-container">
          <h3>MASHIA NARE BRUCE</h3>
          <h4>Developer</h4>
          <p>mashia@mobitech.co.za</p>
          <p>
            <a href="https://twitter.com/intent/tweet" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://za.linkedin.com/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a href="http://facebook.com/intent/facebook" target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="../../../assets/img 2.jpg"
          alt="altheria"
          width="40%"
          height="125"
        />
        <div class="container" id="card-container">
          <h3>MAENETJA MANKGASHA</h3>
          <h4>Developer</h4>
          <P>mankgasha@mobitech.co.za</P>
          <p>
            <a href="https://twitter.com/intent/tweet" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://za.linkedin.com/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a href="http://facebook.com/intent/facebook" target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="../../../assets/img 3.jpg"
          alt="pheladi"
          width="40%"
          height="125"
        />
        <div class="container" id="card-container">
          <h3>MASHABELA PHELADI</h3>
          <h4>Developer</h4>
          <p>mashabela@mobitech.co.za</p>
          <p>
            <a href="https://twitter.com/intent/tweet" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://za.linkedin.com/"
              target="_blank"
              class="fa fa-linkedin"
            ></a>
            <a href="http://facebook.com/intent/facebook" target="_blank"
              ><i class="fa fa-facebook"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <span class="scrolling-text">
    <strong>
      <MARQUEE>SOFTWARE DEVELOPERS</MARQUEE>
    </strong>
  </span>

  <hr />
  <div class="middle-abtpage">
    <div class="sub-middle-abtpage">
      <div class="abtservices">
        <img
          src="../../../assets/about.png"
          alt="about"
          height="70px"
          width="50%"
        />
        <p>
          MobiTech, founded in 2019, has grown big and helping clients with
          making an impact in their digital technology transformation.<br />
          With offices around Gauteng we build long-term partnerships with our
          clients.
        </p>
        <P
          >At MobiTec, we aim to be your favourite custom software solutions and
          services partner, helping you to make a positive impact in your
          digital journey.</P
        >
      </div>
      <div class="abtservices">
        <img
          src="../../../assets/service.jpeg"
          alt="service"
          height="70px"
          width="50%"
          class="service-picture"
        />
        <h2>Our Services Include:</h2>
        <ul class="list-service">
          <li>Mobile App Development</li>
          <li>UX/UI disign services</li>
          <li>Cloud Application Services</li>
          <li>Custom software development for web and traditional platforms</li>
        </ul>
      </div>
      <div class="abtservices">
        <img src="../../../assets/vision.png" alt="vision" />
        <P
          >To be South Africa's favourite custom software solutions & services
          company, with a global footprint. Favourite to work for, favourite to
          work with.</P
        >
      </div>
    </div>
  </div>
</div>
