/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}
.banner {
  width: 100%;
  float: left;
}
.banner-content {
  float: left;
  margin-top: 85px;
  background-color: rgba(176, 170, 196, 0.5);
  height: 150px;
  margin-left: 5px;
  width: 40%;
  padding-top: 50px;
}
#banner-content {
  height: 210px;
}
.topnav-container {
  width: 100%;
  float: left;
  display: flex;
  background-color: rgba(176, 170, 196, 0.5);
}
.logo {
  width: 300px;
  height: 100px;
}
.logo img {
  height: 50px;

  padding: 20px 10px 10px 10px;
}
#logo {
  width: 300px;
  height: 100px;
}
#logo img {
  height: 80px;
  padding: 20px 10px 10px 10px;
}
#topnav {
  width: 100%;
  float: left;
}
#topnav ul {
  text-align: right;
}
#topnav ul li {
  display: inline;
}
#topnav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px 20px 0px 5px;
  /* font-weight: bolder;*/
}
#topnav ul li a:hover {
  text-decoration: underline;
  color: black;
}
.banner-content h1 {
  text-transform: uppercase;
  padding: 2%;
  font-family: Georgia, serif;
  color: aliceblue;
  border-left: 5px solid black;
  height: 90px;
  margin-left: 50px;
  margin-top: -4px;
}
.main-menu {
  padding: 1.5%;
}
.mobile-menu {
  display: none;
}
